---
import "../styles/global.css"

const { content } = Astro.props
---

<html lang={content.lang || "en"}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{content.title}</title>
        <style>
            body {
                color: white;
            }
            #starfield {
         
                margin:0;
                padding:0;
                z-index: -1;
            }
        </style>
    </head>
    <body class="bg-slate-950 text-transparent "	>
        <h1 class="text-3xl text-sky-600/50 font-light tracking-widest">{content.title}</h1>
        <div class="absolute top-0 left-0 w-screen h-screen -z-10 " id="starfield">
            <slot />
        </div>
        <article class="prose lg:prose-xl z-10 static top-0 left-0 w-screen">
            {content.body}
        </article>
    </body>
</html>
